.video-container {
    width: 15em;
    margin: 0 0.2em;
    float: left;
    background: #ff030323;
    margin-bottom: 20px;
    border-radius: 10px;
}
.video-container:hover{
    box-shadow: 4px 4px 8px #262626;
    color: green;    
    text-shadow: 2px 2px 4px #ffffff;
}
.best{
    color: rgb(88, 16, 124);
}
.best:hover{
    color: rgb(255, 247, 247);
    text-shadow: 2px 2px 4px #262626;
}