.my-text {
    font-weight: 400;
    font-size: 18px;
    font-family: initial;
    color: black;
    background-color: white;
  }
  
  .my-img {
    width: 100px;
    border-radius: 10px;
  }
  
  .my-img:hover {
    width: 130px;
    box-shadow: 4px 4px 8px rgb(26, 24, 24);
  }
  